@import './constants.scss';

body {
    font: $font-family-default, sans 16px/1.6;
}

a {
    color: $color-decor;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 850px;
    padding: 0 $container-padding-mobile;
}

.page-title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 32px;
    line-height: 1.6;
    color: $color-primary;
}