$font-family-default: 'Scotch Modern';
$font-family-accident: 'Cormorant Garamond';

$color-white: #fff;
$color-black: #000;
$color-gray: #999;
$color-beige: #f0ede8;
$color-primary: #333;
$color-decor: #c0ac67;

$container-padding-mobile: 24px;